#map {
    height: 700px;
    width: 100%;
}

.listed-link-box {
    padding: 0;
}

.listed-link {
    padding: 10px 20px;
    display: block;
    color: #000000;
}

.latest-update {
    color: gray;
}