{% extends 'base.html' %}

{% block title %}HomeLocation{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Home Locationを設定</h1>
        </div>
        <div class="col-sm-12">
            <div id="map" style="'width:100%;"></div>
        </div>
        <div class="col-sm-12">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button class="btn btn-primary btn-lg" type="submit" value="submit">save</button>
                {% if UPDATE %}<a class="btn btn-danger btn-lg" role="button" href="{% url 'home_delete' pk %}">DELETE</a>{% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var map = null;
var marker = null;
var circle = null;
var radius = null;
var radius_ele = $('#id_radius');
var lat_ele = document.getElementById('id_lat');
var lng_ele = document.getElementById('id_lng');

var lat_parent = lat_ele.parentNode;
var lng_parent = lng_ele.parentNode;

lat_parent.style.visibility = 'hidden';
lng_parent.style.visibility = 'hidden';

lat_parent.style.margin = 0;
lng_parent.style.margin = 0;

lat_parent.style.height = 0;
lng_parent.style.height = 0;

lat_ele.value = {{ geom.lat }};
lng_ele.value = {{ geom.lng }};

{% if UPDATE %}
document.getElementById('id_name').value = '{{ name }}';
radius_ele.val({{ radius }});
document.getElementById('id_module_{{ module_id }}').checked = true;
{% endif %}

function getCurrentRadius() {
    return parseInt(radius_ele.val());
}

function clearMarker() {
    // Delete previous marker
    if (marker !== null) {
        marker.setMap(null);
        marker = null;
    }
}

function drawMarker(latlng) {
    clearMarker();
    marker = new google.maps.Marker({
        position: latlng,
        map: map
    });
}

function clearCircle() {
    // Delete previous circle
    if (circle !== null) {
        circle.setMap(null);
        circle = null;
    }
}

function drawCircle(latlng, radius) {
    clearCircle();
    circle = new google.maps.Circle({
      strokeColor: '#EE4400',
      strokeOpacity: 0.5,
      strokeWeight: 2,
      fillColor: '#EE4400',
      fillOpacity: 0.3,
      center: latlng,
      radius: radius
    });
    circle.setMap(map);
}

function animateCircle(latlng, radius) {
    circle.setOptions({
        strokeColor: '#EE4400',
        strokeOpacity: 0.5,
        strokeWeight: 2,
        fillColor: '#EE4400',
        fillOpacity: 0.3,
        center: latlng,
        radius: radius,
        map: map
    })
}

function initMap() {
    radius = getCurrentRadius();
    var lat_lng = new google.maps.LatLng({{ geom.lat }}, {{ geom.lng }});
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: {{ geom.zoom }},
        center: lat_lng
    });
    drawMarker(lat_lng);
    drawCircle(lat_lng, radius);
    // radiusの入力を検知して動的に円の半径を変更
    radius_ele.keypress(function () {
       radius = getCurrentRadius();
       console.log(circle.center, radius);
       animateCircle(circle.center, radius);
    });
    radius_ele.keyup(function (e) {
        if (e.keyCode === 46 || e.keyCode === 8){
            radius = getCurrentRadius();
            console.log(circle.center, radius);
            animateCircle(circle.center, radius);
        }
    });
    // クリック位置にマーカーと円を移動
    map.addListener('click', function (e) {
        // Create new marker
        var lat = e.latLng.lat();
        var lng = e.latLng.lng();
        drawMarker({lat: lat, lng: lng});
        animateCircle({lat: lat, lng: lng}, radius);
        // Set values to hidden input
        lat_ele.value = lat;
        lng_ele.value = lng;
    })
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrrib_qJbmzInW6EY7sRmxWrgBWCPOsNw&callback=initMap">
</script>
{% endblock %}
