{% extends 'base.html' %}

{% block title %}IoT Stick{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div id="map"></div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>Modules</h2>
                    </div>
                    <ul class="list-group">
                        {% for module in modules %}
                            <li class="list-group-item listed-link-box">
                                <a class='listed-link' href="{% url 'tracking:module' module.pk %}">{{ module.module_id }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}