{% extends 'base.html' %}

{% block title %}IoT Stick{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div id="map"></div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>Modules</h2>
                    </div>
                    <ul class="list-group">
                        {% for module in modules %}
                        <a class='list-group-item' href="{% url 'tracking:module' module.pk %}">
                            <h4 class="list-group-item-heading ">{{ forloop.counter }} - {{ module.module_id }}</h4>
                            <p class="list-group-item-text latest-update">Latest Update: {{ module.locations.all.0.created_on }}</p>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var map;
var points = [
    {% for module in modules %}
    {
        lat: {{ module.locations.first.geom.y }},
        lng: {{ module.locations.first.geom.x }}
    },
    {% endfor %}
];

function drawMarker(latlng, index) {
    return new google.maps.Marker({
        position: latlng,
        map: map,
        label: index.toString()
    })
}

function initMap() {
    var init_point = {lat: {{ init_point.lat }}, lng: {{ init_point.lng }} };
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: {{ init_point.zoom }},
        center: init_point
    });
    var i = 1;
    points.forEach(function (p) {
        drawMarker(p, i);
        i++;
    })
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrrib_qJbmzInW6EY7sRmxWrgBWCPOsNw&callback=initMap">
</script>
{% endblock %}