<nav class="navbar navbar-default menu-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IoT stick</a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mobile" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navba-mobile">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'index' %}">Modules</a></li>
                <li><a href="#">Logs</a></li>
                <li><a href="/api/">API</a></li>
            </ul>
        </div>
    </div>
</nav>