{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Tracking - {{ module.module_id }}{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="col-sm-8">
            <div id="map"></div>
        </div>
        <div class="col-sm-4">
        {% if locations.0.is_knocked_down == 1 %}
            {% if locations.0.state == 1 %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3>State - Danger</h3>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3">
                        <img class="img-responsive" src="{% static 'main/images/iot_stick_danger.png' %}">
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <div class="state-message-box">
                            <h4 class="state-message">杖が倒れています（外出中）</h4>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3>State - Warning</h3>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3">
                        <img class="img-responsive" src="{% static 'main/images/iot_stick_warn.png' %}">
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <div class="state-message-box">
                            <h4 class="state-message">杖が倒れています</h4>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% else %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>State</h3>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3">
                        <img class="img-responsive" src="{% static 'main/images/iot_stick_normal.png' %}">
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <div class="state-message-box">
                            <h4 class="state-message">杖の状態は正常です．</h4>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
            <div class="panel  panel-info">
                <div class="panel-heading">
                    <h3>Home</h3>
                </div>
                <ul class="list-group">
                    {% for home in homes %}
                    <a class="list-group-item" href="{% url 'home_detail' home.pk %}">
                        <h4 class="list-group-item-heading">{{ home.name }} - 半径{{ home.radius }}m</h4>
                        <p class="list-group-item-text">{{ home.geom.y }} - {{ home.geom.x }}</p>
                    </a>
                    {% endfor %}
                </ul>
                <div class="panel-footer">
                    <a href="{% url 'home' %}" class="btn btn-primary btn-block">Homeを追加する</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Logs</h3>
                </div>
                <ul class="list-group">
                    {% for location in locations %}
                    <a class="list-group-item" onclick="highlightMarker({{ forloop.counter0 }})">
                        <h4 class="list-group-item-heading">{{ location.created_on }}</h4>
                        <p class="list-group-item-text">{{ location.geom.y }}, {{ location.geom.x }}</p>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
var map;
var poly;
var marker;
var markers_array;
var highlightedMarker = null;
var latestMarker;

function drawNormalMarker(latlng, created_on) {
    return new google.maps.Marker({
        position: latlng,
        title: created_on,
        animation: google.maps.Animation.DROP,
        map: map
    });
}

function drawCircleMarker(latlng, created_on) {
    return new google.maps.Marker({
        position: latlng,
        title: created_on,
        animation: google.maps.Animation.DROP,
        icon: {
            path: google.maps.SymbolPath.CIRCLE,
            fillColor: '#1e90ff',
            fillOpacity: 0.8,
            strokeWeight: 1,
            scale: 5
        },
        map: map
    });
}

function drawCircle(latlng, radius) {
    return new google.maps.Circle({
        strokeColor: '#EE4400',
        strokeOpacity: 0.5,
        strokeWeight: 2,
        fillColor: '#EE4400',
        fillOpacity: 0.3,
        center: latlng,
        radius: radius,
        map: map
    });
}

function ajaxMarkerDrawer() {
    $.ajax({
        url: '/api/location/',
        type: 'GET',
        dataType: 'json',
        data: {'module': {{ module.id }}},
        timeout: 60,
        success: function (data) {
            var path = poly.getPath();
            data.results.forEach(function (result) {
                var lat_lng = new google.maps.LatLng(
                    result.geom.coordinates[1],
                    result.geom.coordinates[0]
                );
                var new_marker = drawCircleMarker(lat_lng, result.created_on);
                path.push(lat_lng);
                markers_array.push(new_marker);
                var latest = markers_array.getAt(0);
                latestMarker = drawNormalMarker({
                    lat: latest.position.lat(),
                    lng: latest.position.lng()
                }, latest.created_on);
            });
            marker.setMap(null);
            marker = null;
        },
        error: function (e) {
            console.log(e);
        }
    });
}

function ajaxCircleDrawer() {
    $.ajax({
        url: '/api/home/',
        type: 'GET',
        dataType: 'json',
        data: {'module': {{ module.id }}},
        timeout: 60,
        success: function (data) {
            data.results.forEach(function (result) {
                var latlng = new google.maps.LatLng(
                    result.geom.coordinates[1],
                    result.geom.coordinates[0]
                );
                drawCircle(latlng, result.radius);
                var m = drawNormalMarker(latlng, result.name);
                m.setLabel("H");
            })
        },
        error: function (e) {
            console.log(e);
        }
    })
}

function initMap() {
    var init_point = {lat: {{ init_point.lat }}, lng: {{ init_point.lng }} };
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: {{ init_point.zoom }},
        center: init_point
    });
    marker = new google.maps.Marker({
        position: init_point,
        map: map
    });
    poly = new google.maps.Polyline({
        strokeColor: '#1e90ff',
        strokeOpacity: 0.5,
        strokeWeight: 3,
        geodesic: true
    });
    poly.setMap(map);
    markers_array = new google.maps.MVCArray();
    ajaxMarkerDrawer();
    ajaxCircleDrawer();
}
function highlightMarker(index) {
    var len = markers_array.length;
    if (highlightedMarker !== null) {
        highlightedMarker.setAnimation(null);
    }
    highlightedMarker = markers_array.getAt(index);
    if (highlightedMarker.getAnimation() !== null) {
        highlightedMarker.setAnimation(null);
    } else {
        highlightedMarker.setAnimation(google.maps.Animation.BOUNCE);
    }
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrrib_qJbmzInW6EY7sRmxWrgBWCPOsNw&callback=initMap">
</script>
{% endblock %}